{% macro banner(text) %}
	<link rel="stylesheet" href="/assets/css/banner.css">

	<div id="banner-328">
		<div class="cs-container">
			<span class="cs-int-title">{{text}}</span>
		</div>
		<picture class="cs-background">
		   <!--Mobile Image-->
		   <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/books.jpg" | resize({ width: 600, height: 620 }) | avif %}" type="image/avif">
		   <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/books.jpg" | resize({ width: 600, height: 620 }) | webp %}" type="image/webp">
		   <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/books.jpg" | resize({ width: 600, height: 620 }) | jpeg %}" type="image/jpeg">
		   <!--Tablet Image-->
		   <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/books.jpg" | resize({ width: 1024, height: 323 }) | avif %}" type="image/avif">
		   <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/books.jpg" | resize({ width: 1024, height: 323 }) | webp %}" type="image/webp">
		   <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/books.jpg" | resize({ width: 1024, height: 323 }) | jpeg %}" type="image/jpeg">
		   <!--Desktop Image-->
		   <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/books.jpg" | resize({ width: 1920, height: 330 }) | avif %}" type="image/avif">
		   <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/books.jpg" | resize({ width: 1920, height: 330 }) | webp %}" type="image/webp">
		   <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/books.jpg" | resize({ width: 1920, height: 330 }) | jpeg %}" type="image/jpeg">
		   <img src="{% getUrl "/assets/images/books.jpg" | resize({ width: 1920, height: 330 }) | jpeg %}" alt="background image of a shelf of books" width="1920" height="330" loading="lazy" decoding="async" aria-hidden="true">
		</picture>
	</div>
{% endmacro %}
