<!-- ============================================ -->
<!--                Call To Action                -->
<!-- ============================================ -->
<link rel="stylesheet" href="/assets/css/cta.css">

<section id="cta-2443">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Join Us</h2>
            <div class="cs-flex">
                <p class="cs-text">
                    Sign up for our newsletter and be the first to know about new books!
                </p>
                <button type="button" class="cs-button-solid" data-open-newsletter-modal>Sign Up</button>
            </div>
        </div>
    </div>
	<picture class="cs-background">
	   <!--Mobile Image-->
	   <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/library.jpg" | resize({ width: 600, height: 770 }) | avif %}" type="image/avif">
	   <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/library.jpg" | resize({ width: 600, height: 770 }) | webp %}" type="image/webp">
	   <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/library.jpg" | resize({ width: 600, height: 770 }) | jpeg %}" type="image/jpeg">
	   <!--Tablet Image-->
	   <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/library.jpg" | resize({ width: 1024, height: 345 }) | avif %}" type="image/avif">
	   <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/library.jpg" | resize({ width: 1024, height: 345 }) | webp %}" type="image/webp">
	   <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/library.jpg" | resize({ width: 1024, height: 345 }) | jpeg %}" type="image/jpeg">
	   <!--Desktop Image-->
	   <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/library.jpg" | resize({ width: 1920, height: 416 }) | avif %}" type="image/avif">
	   <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/library.jpg" | resize({ width: 1920, height: 416 }) | webp %}" type="image/webp">
	   <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/library.jpg" | resize({ width: 1920, height: 416 }) | jpeg %}" type="image/jpeg">
	   <img src="{% getUrl "/assets/images/library.jpg" | resize({ width: 1920, height: 416 }) | jpeg %}" alt="shelves of books in a library" width="1920" height="416" loading="lazy" decoding="async" aria-hidden="true">
	</picture>
</section>
