<!-- ============================================ -->
<!--                  Footer                      -->
<!-- ============================================ -->

<footer id="footer-1147">
    <div class="cs-container">
        <div class="cs-top">
            <a aria-label="go back to home" class="cs-logo" href="/">
                <img class="cs-logo-img" loading="lazy" decoding="async" src="/assets/images/logos/logo-horizontal.png" alt="logo" width="168" height="48">
            </a>
            <ul class="cs-ul">
                <li class="cs-li">
                    <a href="/" class="cs-link">Home</a>
                </li>
                <li class="cs-li">
                    <a href="/about-the-author" class="cs-link">About The Author</a>
                </li>
                <li class="cs-li">
                    <a href="/bookshelf" class="cs-link">Bookshelf</a>
                </li>
                <li class="cs-li">
                    <a href="/blog" class="cs-link">Blog</a>
                </li>
            </ul>
        </div>
        <div class="cs-bottom">
            <!--Social-->
            <span class="cs-copyright">
                © Copyright {% year %} - <a href="https://www.bluecanarywebdesign.com" class="cs-copyright-link">Blue Canary Web Design</a>
            </span>
        </div>
    </div>
</footer>
