<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->

<header id="cs-navigation">
    <div class="cs-container">
        <!--Nav Logo-->
        <a href="/" class="cs-logo" aria-label="Return to Dragon Quill Home page">
            <img src="/assets/images/logos/logo.webp" alt="Logo of a cartoon dragon holding a giant feather quill" width="60" height="60" aria-hidden="true" decoding="async">
        </a>
        <!--Navigation List-->
        <nav class="cs-nav" aria-label="main navigation">
            <!--Mobile Nav Toggle-->
            <button class="cs-toggle" aria-label="mobile menu toggle" aria-expanded="false" aria-controls="cs-ul-wrapper" aria-haspopup="menu">
                <span class="cs-box" aria-hidden="true">
                    <span class="cs-line cs-line1"></span>
                    <span class="cs-line cs-line2"></span>
                    <span class="cs-line cs-line3"></span>
                </span>
            </button>
            <!-- We need a wrapper div so we can set a fixed height on the cs-ul in case the nav list gets too long from too many dropdowns being opened and needs to have an overflow scroll. This wrapper acts as the background so it can go the full height of the screen and not cut off any overflowing nav items while the cs-ul stops short of the bottom of the screen, which keeps all nav items in view no matter how mnay there are-->
            <div class="cs-ul-wrapper" id="cs-ul-wrapper">
                <ul class="cs-ul">
                    <li class="cs-li">
                        <a href="/" class="cs-li-link cs-active" aria-current="page">
                            Home
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="/about-the-author" class="cs-li-link">
                            About The Author
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="/bookshelf" class="cs-li-link">
                            Bookshelf
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="/blog" class="cs-li-link">
                            Blog
                        </a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
</header>
