<link rel="stylesheet" href="/assets/css/johnny.css"/>
<section id="sbs-574">
    <div class="cs-container">
		<picture class="cs-picture">
		   <!--Mobile Image-->
		   <source media="(max-width: 768px)" srcset="{% getUrl "/assets/images/books/fishing-trip-front-cover.png" | resize({ width: 400, height: 400 }) | avif %}" type="image/avif">
		   <source media="(max-width: 768px)" srcset="{% getUrl "/assets/images/books/fishing-trip-front-cover.png" | resize({ width: 400, height: 400 }) | webp %}" type="image/webp">
		   <source media="(max-width: 768px)" srcset="{% getUrl "/assets/images/books/fishing-trip-front-cover.png" | resize({ width: 400, height: 400 }) | jpeg %}" type="image/jpeg">
		   <!--Tablet Image-->
		   <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/books/fishing-trip-front-cover.png" | resize({ width: 536, height: 536 }) | avif %}" type="image/avif">
		   <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/books/fishing-trip-front-cover.png" | resize({ width: 536, height: 536 }) | webp %}" type="image/webp">
		   <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/books/fishing-trip-front-cover.png" | resize({ width: 536, height: 536 }) | jpeg %}" type="image/jpeg">
		   <!--Desktop Image-->
		   <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/books/fishing-trip-front-cover.png" | resize({ width: 492, height: 492 }) | avif %}" type="image/avif">
		   <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/books/fishing-trip-front-cover.png" | resize({ width: 492, height: 492 }) | webp %}" type="image/webp">
		   <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/books/fishing-trip-front-cover.png" | resize({ width: 492, height: 492 }) | jpeg %}" type="image/jpeg">
		   <img src="{% getUrl "/assets/images/books/fishing-trip-front-cover.png" | resize({ width: 492, height: 492 }) | jpeg %}" alt="book cover showing a cartoon boy proudly holding up a fish he's caught" width="492" height="492" loading="lazy" decoding="async" >
		</picture>
        <div class="cs-content">
            <h2 class="cs-title">Johnny’s Magical Fishing Trip</h2>
            <p class="cs-text">
                Join Johnny as he takes his first fishing trip with his dad and discovers why it is so magical in this heartwarming story.  It is a tale that inspires imagination and family bonds.  Perfect for young readers, this enchanting adventure highlights the joy of new experiences and the special moments shared with loved ones.  Dive into a world where every cast brings wonder and every moment is a treasure.  Add this delightful book to your collection and spark the magic of childhood discovery today.
            </p>
            <a href="TODO" class="cs-button-solid">Buy Now</a>
        </div>
    </div>
</section>
