---
description: "Meta description for the page"
image: "OPTIONAL - If an image path is specified here, it will be used for that page's OG image. Useful for blog posts (implemented as standard with this kit)"
eleventyComputed:
  title: "{{ page.fileSlug | titleCase }} | {{ client.name }} | {{ client.address.city }}, {{ client.address.state }}"
  permalink: "/{{ page.fileSlug | slugify }}/"
---


{% extends "layouts/base.html" %}

{% block head %}

    <link rel="stylesheet" href="/assets/css/{{ page.fileSlug }}.css">

    <!-- Any page-specific tags that belong in the <head> -->


{% endblock %}

{% block body %}
	{{ macros.banner("About the Author") }}

	<section id="sbs-867">
		<div class="cs-container">
			<picture class="cs-picture">
			   <!--Mobile Image-->
			   <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/bonni-headshot.avif" | resize({ width: 576, height: 800 }) | avif %}" type="image/avif">
			   <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/bonni-headshot.avif" | resize({ width: 576, height: 800 }) | webp %}" type="image/webp">
			   <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/bonni-headshot.avif" | resize({ width: 576, height: 800 }) | jpeg %}" type="image/jpeg">
			   <!--Tablet Image-->
			   <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/bonni-headshot.avif" | resize({ width: 1100, height: 1432}) | avif %}" type="image/avif">
			   <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/bonni-headshot.avif" | resize({ width: 1100, height: 1432}) | webp %}" type="image/webp">
			   <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/bonni-headshot.avif" | resize({ width: 1100, height: 1432}) | jpeg %}" type="image/jpeg">
			   <!--Desktop Image-->
			   <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/bonni-headshot.avif" | resize({ width: 1238, height: 1550 }) | avif %}" type="image/avif">
			   <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/bonni-headshot.avif" | resize({ width: 1238, height: 1550 }) | webp %}" type="image/webp">
			   <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/bonni-headshot.avif" | resize({ width: 1238, height: 1550 }) | jpeg %}" type="image/jpeg">
			   <img src="{% getUrl "/assets/images/bonni-headshot.avif" | resize({ width: 1238, height: 1550 }) | jpeg %}" alt="headshot of author Bonni Lyn Kuhn" width="1238" height="1550" loading="lazy" decoding="async" aria-hidden="true">
			</picture>
			<div class="cs-content">
				<h2 class="cs-title">Bonni Lyn Kuhn</h2>
				<p class="cs-text">
					Bonni is a children's author who loves creating imaginative stories that inspire curiosity, kindness, and a love of reading. Through memorable characters and engaging adventures, Bonni encourages young readers to explore the world around them and believe in themselves. When not writing, she enjoys reading, hiking with her dog Finnegan, spending time with family, and finding inspiration in everyday moments. Bonni is dedicated to helping children discover the joy of books and storytelling. 
				</p>
				<a href="/bookshelf" class="cs-button-solid">Learn More</a>
			</div>
		</div>
	</section>

<!-- ============================================ -->
<!--                     Quote                    -->
<!-- ============================================ -->

<section id="quote-2141">
    <div class="cs-container">
        <div class="cs-content">
            <img class="cs-quote-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/beige-quote.svg" alt="quote" width="222" height="186" aria-hidden="true">
            <p class="cs-quote">
                “If you hear a voice within you say, ‘You cannot paint,’ then paint all the more, and that voice will be silenced.”
            </p>
            <span class="cs-name">-Vincent Van Gogh</span>
        </div>
    </div>
    <img class="cs-flower cs-left" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/wedding-flower2.png" alt="flower" width="640" height="324" aria-hidden="true">
    <img class="cs-flower cs-right" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/wedding-flower1.png" alt="flower" width="640" height="324" aria-hidden="true">
</section>

	{% include 'sections/cta.html' %}

{% endblock %}




