---
description: "Browse Dragon Quill Books' collection of imaginative children's stories. Find heartwarming picture books and adventures perfect for young readers and family reading time."
image: "/assets/images/pen-and-pad.jpg"
keywords: "children's books, picture books, kids stories, Dragon Quill Books, bedtime stories, family reading"
ogDescription: "Discover our collection of imaginative children's books."
eleventyComputed:
  title: "Bookshelf | {{ client.name }}"
  permalink: "/{{ page.fileSlug | slugify }}/"
---


{% extends "layouts/base.html" %}

{% block head %}

    <link rel="stylesheet" href="/assets/css/{{ page.fileSlug }}.css">

    <!-- Bookshelf structured data for SEO -->
    {% include "components/bookshelf-schema.html" %}

{% endblock %}

{% block body %}

	{{ macros.banner("Our Collection") }}

	{% include 'sections/johnny.html' %}

    {% include 'sections/cta.html' %}

{% endblock %}




