
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-867 {
        padding: var(--sectionPadding);
		background-color: var(--lightPurple);

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 7vw, 4rem);
        }

        .cs-content {
            /* set text aling to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (542/16rem);
            /* prevents padding from affecting width and height */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-title {
            /* 17 characters wide including spaces */
            max-width: 17ch;
        }

        .cs-text {
			max-width: 45ch;
            margin-bottom: (16/16rem);
			text-align: justify;
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: (150/16rem);
            padding: 0 (24/16rem);
            background-color: var(--secondary);
            border-radius: (4/16rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: (4/16rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-picture {
            display: block;
            position: relative;
            width: 100%;
            max-width: (630/16rem);
            /* 400px - 775px */
            height: clamp(25rem, 70vw, 48.4375rem);
            box-shadow: 0px 2.80579px 42.0868px rgba(0, 0, 0, 0.16);
            /* 100px - 200px */
            border-radius: 0 clamp(6.25rem, 17vw, 12.5rem) 0
                clamp(6.25rem, 17vw, 12.5rem);
            /* clips img tag corners */
            overflow: hidden;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
				object-position: center 20%;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 64rem) {
    #sbs-867 {
        padding: var(--sectionPadding);

        .cs-container {
            flex-direction: row;
            max-width: (1280/16rem);
            justify-content: space-between;
        }

        .cs-content {
            width: 53%;
            /* reset the padding, add the section padding back to the section container */
            padding: 0;
        }

        .cs-picture {
            width: 47vw;
            position: relative;


        }
    }
}

/*-- -------------------------- -->
<---           Quote            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #quote-2141 {
        /* 80px - 160px */
        padding: clamp(3rem, 6vw, 8rem) (16/16rem);
        background-color: #FBF5F1;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            margin-top: (48/16rem);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
        }

        .cs-content {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
        }

        .cs-quote-icon {
            /* 120px - 220px */
            width: clamp(7.5rem, 12vw, 13.75rem);
            height: auto;
            display: block;
            position: absolute;
            /* -48px - -96px */
            top: calc(clamp(3rem, 8vw, 6rem)*-1);
            z-index: -1;
        }

        .cs-quote {
            /* 25px - 49px */
            font-size: clamp(1.5rem, 4.8vw, 3rem);
            line-height: 1.4em;
            text-align: center;
            max-width: 45ch;
            /* 24px - 32px */
            margin: 0 0 clamp(1.5rem, 3vw, 2rem);
            color: var(--headerColor);
			font-family: var(--highlightFont);
        }

        .cs-name {
            /* 20px - 25px */
            font-size: clamp(1rem, 2.5vw, 2.25rem);
            font-weight: 700;
            line-height: 1.2em;
            margin: 0 0 (8/16rem) 0;
            display: block;
			align-self: flex-end;
			font-family: var(--highlightFont);
        }

        .cs-job {
            font-size: (16/16rem);
            line-height: 1.5em;
            color: var(--bodyTextColor);
            display: block;
        }

        .cs-flower {
            width: 50vw;
            max-width: (640/16rem);
            height: auto;
            display: block;
            position: absolute;
            z-index: -1;
        }

        .cs-left {
            top: 0;
            left: 0;
        }

        .cs-right {
            right: 0;
            bottom: 0;
        }
    }
}
