/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-574 {
        background-color: var(--primary);

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 7vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (522/16rem);
            /* moved section padding to the .cs-content so we can have the cs-picture be full width on mobile without the padding preventing it from doing so */
            padding: var(--sectionPadding);
            // padding-top: 0;
            /* prevents padding from affecting width and height */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-topper,
        .cs-title {
            color: var(--bodyTextColorWhite);
			margin-top: 20px;
        }

        .cs-text {
            margin-bottom: (16/16rem);
            color: var(--bodyTextColorWhite);
            opacity: 0.8;
			padding-right: (32/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-picture {
            display: block;
            position: relative;
            width: 100%;
            aspect-ratio: 1;

            img {
				border: 1px white solid;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, 20%);
                height: 80%;
                width: 80%;
                object-fit: cover;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbs-574 {
		margin: 0 auto;
		width: 100%;
        padding: var(--sectionPadding);
		background: linear-gradient(90deg,var(--primaryLight) 0%, var(--lightPurple) 50%, var(--primary) 100%);
        /* clips the red box from overflowing the section */
        overflow: hidden;

        .cs-container {
            flex-direction: row;
            position: relative;
            z-index: 1;
            &:before {
                content: "";
                width: calc(100% + 2rem);
                margin-left: -35%;
				margin-top: 150px;
				margin-bottom: 150px;
                background: var(--darkPurple);
                opacity: 1;
                display: block;
                position: absolute;
                top: (-150/16rem);
                bottom: (-150/16rem);
                left: 50%;
                z-index: -1;
            }
        }

        .cs-content {
            width: 51%;
        }

        .cs-picture {
            width: 47vw;
            max-width: (618/16rem);
            height: 47vw;
			max-height: (618/16rem);
            /* 24px - 32px, added margin top and bottom to cs-picture so it pushes away by the same amount the yellow box element overlaps it top and bottom. This maintains consistent spacing top and bottom */
            margin: clamp(1.5rem, 3vw, 2rem) 0 clamp(1.5rem, 3vw, 2rem)
                clamp(1.5rem, 3vw, 2rem);
            position: relative;
        }
    }
}

