// ─────────────────────────────────────────────────────────────────────────────
// CODESTITCH GLOBAL STYLES
// Core stylesheet containing CSS variables, base element
// styling, typography rules, utility classes, component styles, navigation,
// footer, and other repeated section styles for the entire site
// ─────────────────────────────────────────────────────────────────────────────

/*-- -------------------------- -->
<---        Core Styles         -->
<--- -------------------------- -*/

/* CodeStitch Core Styles + Reset */
@media only screen and (min-width: 0px) {
	:root {
		--primary: #D7A1C4;
		--primaryLight: #EAD1E1;
		--secondary: #385840;
		--secondaryMedium: #89CE9C;
		--secondaryLight: #BDF3CB;
		--headerColor: #1a1a1a;
		--bodyTextColor: #221E1E;
		--bodyTextColorWhite: #fafbfc;
		--black: #221E1E;
		--logoText: #5B3230;
		--lightGrey: #F1F0F0;
		--darkPurple: #643555;
		--lightPurple: #BFB7E0;

		/* 13px - 16px */
		--topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
		/* 31px - 49px */
		--headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
		--bodyFontSize: 1.2rem;
		--sectionPadding: clamp(3.75rem, 10vw, 8rem) 1rem;

		--headerFont: "Comfortaa", Arial, sans-serif;
		--bodyFont: "Comfortaa", Arial, sans-serif;
	}

	html,
	body {
		margin: 0;
		padding: 0;
		overflow-x: hidden;
		font-family: var(--bodyFont);
		font-size: 100%;
		color: var(--bodyTextColor);
	}

	*,
	*:before,
	*:after {
		/* prevents padding from affecting height and width */
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}

	.cs-topper {
		font-size: var(--topperFontSize);
		line-height: 1.2em;
		text-transform: uppercase;
		text-align: inherit;
		letter-spacing: 0.1em;
		font-weight: 700;
		color: var(--primary);
		margin-bottom: 0.25rem;
		display: block;
	}

	.cs-title {
		font-size: var(--headerFontSize);
		font-weight: 900;
		line-height: 1.2em;
		text-align: inherit;
		max-width: 43.75rem;
		margin: 0 0 1rem 0;
		color: var(--headerColor);
		position: relative;
	}

	.cs-text {
		font-size: var(--bodyFontSize);
		line-height: 1.5em;
		text-align: inherit;
		width: 100%;
		max-width: 40.625rem;
		margin: 0;
		color: var(--bodyTextColor);
	}
}

/* Components + Utilities */
@media only screen and (min-width: 0px) {
	// Hidden screen reader skip nav button
	.skip {
		z-index: -1111111;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
	}

	.cs-button-solid {
		z-index: 1;
		position: relative;
		display: inline-block;
		background-color: var(--lightGrey);
		width: auto;
		padding: (16/16rem) (32/16rem);
		text-decoration: none;
		text-transform: uppercase;
		font-size: (16/16rem);
		line-height: (16/16em);
		font-weight: bold;
		border-radius: (4/16rem);
		overflow: hidden;

		// Transition Properties
		color: var(--bodyTextColor);
		transition: color 0.3s;
		transition-delay: 0.1s;
		text-align: center;

		&:hover {
			color: #fff;

			&:before {
				width: 100%;
			}
		}

		&:before {
			z-index: -1;
			position: absolute;
			top: 0;
			left: 0;
			content: "";
			opacity: 1;
			display: block;
			background-color: #000;
			height: 100%;

			//Transition properties
			width: 0;
			transition: width 0.3s;
		}
	}

	.cs-button-outline {
		z-index: 1;
		position: relative;
		display: inline-block;
		width: auto;
		padding: (16/16rem) (32/16rem);
		text-decoration: none;
		text-transform: uppercase;
		font-size: (16/16rem);
		line-height: (16/16em);
		font-weight: bold;
		border: 2px solid #000;

		// Transition Properties
		color: #000;
		transition: color 0.3s;
		transition-delay: 0.1s;
		text-align: center;

		&:hover {
			color: #fff;

			&:before {
				width: 100%;
			}
		}

		&:before {
			z-index: -1;
			position: absolute;
			top: 0;
			left: 0;
			content: "";
			opacity: 1;
			display: block;
			background-color: #000;
			height: 100%;

			//Transition properties
			width: 0;
			transition: width 0.3s;
		}
	}

	// Utilities - small classes useful in various common situations
	.cs-color {
		color: var(--primary);
	}

	.cs-bold {
		font-weight: 700;
	}

	.cs-hide-on-mobile {
		display: none !important;
	}
}

/* Desktop Utilities */
@media only screen and (min-width: 64rem) {
	.cs-hide-on-mobile {
		display: block !important;
	}

	.cs-hide-on-desktop {
		display: none !important;
	}
}

/* Base Element Styles */
@media only screen and (min-width: 0px) {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: var(--headerFont);
		line-height: 1.2em;
		color: var(--headerColor);
	}

	p,
	li,
	a {
		font-size: (16/16rem);
		line-height: 1.5em;
	}

	p,
	li {
		color: var(--bodyTextColor);

		a {
			color: var(--primary);
		}
	}

	a,
	button {
		&:hover {
			cursor: pointer;
		}
	}
}

/* Fonts */
@media only screen and (min-width: 0px) {
	// Grab your fonts to locally host from https://gwfh.mranftl.com/fonts
	/* roboto-regular - latin */
	@font-face {
		font-style: normal;
		font-family: "Roboto";
		font-weight: 400;
		font-display: swap;
		src: local(""), url("/assets/fonts/roboto-v29-latin-regular.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */ url("/assets/fonts/roboto-v29-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
	}

	/* roboto-700 - latin */
	@font-face {
		font-style: normal;
		font-family: "Roboto";
		font-weight: 700;
		font-display: swap;
		src: local(""), url("/assets/fonts/roboto-v29-latin-700.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */ url("/assets/fonts/roboto-v29-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
	}

	/* roboto-900 - latin */
	@font-face {
		font-style: normal;
		font-family: "Roboto";
		font-weight: 900;
		font-display: swap;
		src: local(""), url("/assets/fonts/roboto-v29-latin-900.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */ url("/assets/fonts/roboto-v29-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
	}

	/* comfortaa-regular - latin */
	@font-face {
		font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
		font-family: 'Comfortaa';
		font-style: normal;
		font-weight: 400;
		src: url('../fonts/comfortaa-v47-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
	}

	/* comfortaa-700 - latin */
	@font-face {
		font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
		font-family: 'Comfortaa';
		font-style: normal;
		font-weight: 700;
		src: url('../fonts/comfortaa-v47-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
	}

	/* dancing-script-regular - latin */
	@font-face {
		font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
		font-family: 'Dancing Script';
		font-style: normal;
		font-weight: 400;
		src: url('../fonts/dancing-script-v29-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
	}
}

/* Mobile - 360px */

/* Desktop - 1024px */

/*-- -------------------------- -->
<---     Mobile Navigation      -->
<--- -------------------------- -*/

/* Mobile - 1023px */
@media only screen and (max-width: 1023.5px) {
	body {
		&.cs-open {
			overflow: hidden;
		}

		&.scroll {
			#cs-navigation {
				&:before {
					height: 100%;
				}
			}
		}
	}

	#cs-navigation {
		width: 100%;
		/* prevents padding and border from affecting height and width */
		box-sizing: border-box;
		padding: (12/16rem) (16/16rem);
		background: var(--secondaryMedium);
		position: fixed;
		z-index: 10000;
		transition: background-color 0.3s;
		-webkit-backdrop-filter: blur(27px);
		backdrop-filter: blur(27px);

		&:before {
			content: "";
			width: 100%;
			height: 0%;
			background: #1a1a1a;
			opacity: 1;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			transition: height 0.3s;
		}

		&:after {
			content: "";
			width: 100%;
			height: 0vh;
			background: rgba(0, 0, 0, 0.6);
			opacity: 0;
			display: block;
			position: absolute;
			top: 0%;
			right: 0;
			z-index: -1100;
			transition: height 0.5s, opacity 0.5s;
			-webkit-backdrop-filter: blur(10px);
			backdrop-filter: blur(10px);
		}

		&.cs-active {
			background-color: var(--secondaryLight);

			&:after {
				height: 150vw;
				opacity: 1;
			}

			.cs-ul-wrapper {
				opacity: 1;
				transform: scaleY(1);
			}

			.cs-li {
				opacity: 1;
				transform: translateY(0);
			}
		}

		.cs-container {
			width: 100%;
			display: flex;
			justify-content: flex-end;
			align-items: center;
		}

		.cs-logo {
			width: auto;
			/* 56px - 80px */
			height: clamp(3.5rem, 5vw, 5rem);
			margin: 0 auto 0 0;
			padding: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			z-index: 10;

			img {
				width: 100%;
				height: 100%;
				/* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
				object-fit: contain;
			}
		}

		.cs-toggle {
			width: (56/16rem);
			height: (56/16rem);
			margin: 0 0 0 auto;
			background-color: var(--secondary);
			border: none;
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			z-index: 1;
			transition: transform 0.6s;
			&.cs-active {
				transform: rotate(180deg);
			}
		}

		.cs-active {
			.cs-line1 {
				top: 50%;
				transform: translate(-50%, -50%) rotate(225deg);
			}

			.cs-line2 {
				top: 50%;
				transform: translate(-50%, -50%) translateY(0) rotate(-225deg);
				transform-origin: center;
			}

			.cs-line3 {
				opacity: 0;
				bottom: 100%;
			}
		}

		.cs-box {
			/* 24px - 28px */
			width: clamp(1.5rem, 2vw, 1.75rem);
			height: (16/16rem);
			position: relative;
		}

		.cs-line {
			width: 100%;
			height: 2px;
			background-color: #fafbfc;
			border-radius: 2px;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
		}

		.cs-line1 {
			top: 0;
			transition: transform 0.5s, top 0.3s, left 0.3s;
			animation-duration: 0.7s;
			animation-timing-function: ease;
			animation-direction: normal;
			animation-fill-mode: forwards;
			transform-origin: center;
		}

		.cs-line2 {
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
			transition: top 0.3s, left 0.3s, transform 0.5s;
			animation-duration: 0.7s;
			animation-timing-function: ease;
			animation-direction: normal;
			animation-fill-mode: forwards;
		}

		.cs-line3 {
			bottom: 0;
			transition: bottom 0.3s, opacity 0.3s;
		}
	}
}

/*-- -------------------------- -->
<---   Mobile Navigation Menu   -->
<--- -------------------------- -*/

/* Small Desktop - 1024px */
@media only screen and (max-width: 1023.5px) {
	#cs-navigation {
		.cs-ul-wrapper {
			width: 100%;
			height: auto;
			padding-bottom: (48/20em);
			opacity: 0;
			background-color: #fff;
			box-shadow: inset rgba(0, 0, 0, 0.2) 0px 8px 24px;
			overflow: hidden;
			position: absolute;
			top: 100%;
			left: 0;
			z-index: -1;
			transform: scaleY(0);
			transform-origin: top;
			transition: transform 0.4s, opacity 0.3s;
		}

		.cs-ul {
			margin: 0;
			padding: (48/16rem) 0 0 0;
			width: 100%;
			height: auto;
			max-height: 65vh;
			overflow: scroll;
			display: flex;
			justify-content: flex-start;
			flex-direction: column;
			align-items: center;
			gap: (20/16rem);
		}

		.cs-li {
			width: 100%;
			text-align: center;
			list-style: none;
			margin-right: 0;
			/* transition from these values */
			transform: translateY(-4.375rem);
			opacity: 0;
			transition: transform 0.6s, opacity 0.9s;

			&:nth-of-type(1) {
				transition-delay: 0.05s;
			}
			&:nth-of-type(2) {
				transition-delay: 0.1s;
			}
			&:nth-of-type(3) {
				transition-delay: 0.15s;
			}
			&:nth-of-type(4) {
				transition-delay: 0.2s;
			}
			&:nth-of-type(5) {
				transition-delay: 0.25s;
			}
			&:nth-of-type(6) {
				transition-delay: 0.3s;
			}
			&:nth-of-type(7) {
				transition-delay: 0.35s;
			}
			&:nth-of-type(8) {
				transition-delay: 0.4s;
			}
			&:nth-of-type(9) {
				transition-delay: 0.45s;
			}
			&:nth-of-type(10) {
				transition-delay: 0.5s;
			}
			&:nth-of-type(11) {
				transition-delay: 0.55s;
			}
			&:nth-of-type(12) {
				transition-delay: 0.6s;
			}
			&:nth-of-type(13) {
				transition-delay: 0.65s;
			}
		}

		.cs-li-link {
			/* 16px - 24px */
			font-size: clamp(1rem, 2.5vw, 1.5rem);
			line-height: 1.2em;
			text-transform: uppercase;
			font-weight: bold;
			text-decoration: none;
			margin: 0;
			color: var(--headerColor);
			display: inline-block;
			position: relative;

			&.cs-active {
				color: var(--secondary);
			}

			&:hover {
				color: var(--secondaryMedium);
			}
		}

		.cs-button-solid {
			display: none;
		}
	}
}


/*-- -------------------------- -->
<---     Desktop Navigation     -->
<--- -------------------------- -*/

/* Small Desktop - 1024px */
@media only screen and (min-width: 1024px) {
	body.scroll {
		/* when the scroll class is on the body, run these styles */
		#cs-navigation {
			&:before {
				height: 100%;
			}
		}
	}

	#cs-navigation {
		width: 100%;
		/* prevents padding and border from affecting height and width */
		box-sizing: border-box;
		padding: 0 (16/16rem);
		background-image: linear-gradient(225deg, var(--headerColor), var(--secondaryMedium));
		position: fixed;
		z-index: 10000;
		-webkit-backdrop-filter: blur(27px);
		backdrop-filter: blur(27px);

		&:before {
			/* on scroll background */
			content: "";
			width: 100%;
			height: 0%;
			background: #1a1a1a;
			opacity: 1;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			transition: height 0.3s;
		}

		.cs-container {
			width: 100%;
			max-width: (1280/16rem);
			/* same height as the cs-ul-wrapper */
			height: (101/16rem);
			margin: auto;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			gap: (24/16rem);
			position: relative;
		}

		.cs-toggle {
			display: none;
		}

		.cs-logo {
			width: auto;
			height: (60/16rem);
			/* margin-right auto pushes everything away from it to the right */
			margin: 0 auto 0 0;
			padding: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			z-index: 100;

			img {
				width: 100%;
				height: 100%;
				/* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
				object-fit: contain;
			}
		}

		.cs-ul {
			width: 100%;
			margin: 0;
			padding: 0;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			gap: (24/16rem);
		}

		.cs-li {
			list-style: none;
			padding: (40/16rem) 0;
			/* prevent flexbox from squishing it */
			flex: none;
		}

		.cs-li-link {
			/* 14px - 16px */
			font-size: clamp(0.875rem, 0.6vw, 1rem);
			font-weight: 700;
			line-height: 1.5em;
			text-transform: uppercase;
			text-decoration: none;
			margin: 0;
			padding: 0 (16/16rem);
			color: var(--bodyTextColorWhite);
			display: block;
			position: relative;
			z-index: 1;
			transition: color 0.3s;

			&:hover {
				&:before {
					opacity: 1;
					transform: translate(-50%, -50%) scale(1);
					background-color: var(--secondaryMedium);
				}
			}

			&.cs-active {
				&:before {
					opacity: 1;
					transform: translate(-50%, -50%) scale(1);
				}
			}
		}

		.cs-button-solid {
			font-size: (16/16rem);
			font-weight: 700;
			/* 46px - 56px */
			line-height: clamp(2.875em, 5.5vw, 3.5em);
			text-align: center;
			text-decoration: none;
			min-width: (150/16rem);
			margin: 0;
			/* prevents padding from adding to the width */
			box-sizing: border-box;
			padding: 0 (32/16rem);
			background-color: transparent;
			color: #fff;
			border: 1px solid var(--primary);
			display: inline-block;
			position: relative;
			z-index: 1;

			&:before {
				content: "";
				width: 0%;
				height: 100%;
				background: var(--primary);
				opacity: 1;
				position: absolute;
				top: 0;
				left: 0;
				z-index: -1;
				transition: width 0.3s;
			}

			&:hover {
				&:before {
					width: 100%;
				}
			}
		}
	}
}

