---
title: "Welcome"
description: "Your new website"
permalink: "/"
tags: "sitemap" # content/content.json will make sure that all pages in content/ are marked with a "sitemap" tag, for automatic sitemap generation. As index.html is not in content/, we need to add it here to ensure the root page is included in the sitemap generation
---

{% extends "layouts/base.html" %}

{% block head %}
    <!-- Critical styles are loaded first -->
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- If we're in production, defer the rest of the home page styles. In development, always load it. Otherwise the site will break when hot-reload is used. -->
    {% if client.isProduction %}
        <link rel="preload" href="/assets/css/local.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript>
            <link rel="stylesheet" href="/assets/css/local.css">
        </noscript>

    {% else %}
        <link rel="stylesheet" href="/assets/css/local.css"/>
    {% endif %}

    <!-- Uncomment the code below to enable Structured Data, and test it when you deploy to Netlify - https://developers.google.com/search/docs/appearance/structured-data -->
    <!-- {% include "components/home-schema.html" %} -->
{% endblock %}

{% block body %}
    <!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-330">
    <div class="cs-container">
        <div class="cs-flex-group">
            <h1 class="cs-title"><div class="large">Dragon Quill</div><div>Books</div></h1>
            <p class="cs-text">
                Where Every Story Sparks a Child's Imagination
            </p>
        </div>
    </div>

    <!-- Background Image -->
	<picture class="cs-background">
		<source srcset="{% getUrl '/assets/images/pen-and-pad.jpg' | resize({ height: 1160, width: 1200 }) | avif %}" media="(max-width: 1200px)" type="image/avif">
		<source srcset="{% getUrl '/assets/images/pen-and-pad.jpg' | resize({ height: 1160, width: 600 }) | webp %}" media="(max-width: 600px)" type="image/webp">
		<source srcset="{% getUrl '/assets/images/pen-and-pad.jpg' | resize({ height: 1664, width: 7140 }) | jpeg %}" media="(min-width: 601px)" type="image/jpeg">
		<img src="{% getUrl '/assets/images/pen-and-pad.jpg' | resize({ height: 1160, width: 1200 }) | jpeg %}" alt="Background image of a fountain pen lying on a reporter's notebook">
	</picture>
</section>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-574">
    <div class="cs-container">
		<picture class="cs-picture">
		   <!--Mobile Image-->
		   <source media="(max-width: 768px)" srcset="{% getUrl "/assets/images/books/fishing-trip-front-cover.png" | resize({ width: 600, height: 600 }) | avif %}" type="image/avif">
		   <source media="(max-width: 768px)" srcset="{% getUrl "/assets/images/books/fishing-trip-front-cover.png" | resize({ width: 600, height: 600 }) | webp %}" type="image/webp">
		   <source media="(max-width: 768px)" srcset="{% getUrl "/assets/images/books/fishing-trip-front-cover.png" | resize({ width: 600, height: 600 }) | jpeg %}" type="image/jpeg">
		   <!--Tablet Image-->
		   <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/books/fishing-trip-front-cover.png" | resize({ width: 1072, height: 1072 }) | avif %}" type="image/avif">
		   <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/books/fishing-trip-front-cover.png" | resize({ width: 1072, height: 1072 }) | webp %}" type="image/webp">
		   <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/books/fishing-trip-front-cover.png" | resize({ width: 1072, height: 1072 }) | jpeg %}" type="image/jpeg">
		   <!--Desktop Image-->
		   <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/books/fishing-trip-front-cover.png" | resize({ width: 1236, height: 1236 }) | avif %}" type="image/avif">
		   <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/books/fishing-trip-front-cover.png" | resize({ width: 1236, height: 1236 }) | webp %}" type="image/webp">
		   <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/books/fishing-trip-front-cover.png" | resize({ width: 1236, height: 1236 }) | jpeg %}" type="image/jpeg">
		   <img src="{% getUrl "/assets/images/books/fishing-trip-front-cover.png" | resize({ width: 1236, height: 1236 }) | jpeg %}" alt="" width="618" height="618" loading="lazy" decoding="async" aria-hidden="true">
		</picture>
        <div class="cs-content">
            <h2 class="cs-title">Johnny’s Magical Fishing Trip</h2>
            <p class="cs-text">
                Join Johnny as he takes his first fishing trip with his dad and discovers why it is so magical in this heartwarming story.  It is a tale that inspires imagination and family bonds.  Perfect for young readers, this enchanting adventure highlights the joy of new experiences and the special moments shared with loved ones.  Dive into a world where every cast brings wonder and every moment is a treasure.  Add this delightful book to your collection and spark the magic of childhood discovery today.
            </p>
            <a href="" class="cs-button-solid">Get Free Quote</a>
        </div>
    </div>
</section>

{% endblock %}
